.buttons_inicio{
  width: 200px;
  height: 100px;
  background-color: rgb(60, 60, 184);
  color: #fff;
  border: 1px transparent;
  border-radius: 10px;
}
.buttons_inicio:hover{
  background-color: rgb(127, 204, 255);
  color: black;
  /* width: 203px;
  height: 103px;
  transition: 0.6s; */
  cursor: pointer;
}
.buttons_inicio a{
  text-decoration: none;
  color: #fff;
}
.buttons_inicio a:hover{
  color: #000;
}